<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip</h1>
    <% gossips.each_with_index do |gossip, index| %>
       <p>
          <%= gossip.author %><br/>
          <%= gossip.content %><br>
          <a href="/gossips/<%= (index + 1) %>/"> Lien vers le potin </a>
        </p>
      <% end %>
      <a href="/gossips/new/"> Créer un nouveau potin </a>
  </body>
</html>