<html>
  <head>
    <title>PAGE POTIN</title>
  </head>
  <body>
    <h1>PAGE POTIN</h1>
    <h2>Voici la page du potin n°<%= params['id'] %> </h2>
    <h4>Son auteur : <%= gossips.author %> 
    </h4>
    <h4>Le contenu du potin : <%= gossips.content%> </h4>    

    <h3><a href="/">Lien pour revenir à la page des potins</a></h3>

  </body>
</html>